<form action="/auth/login" method="POST" class="form-container">
 
  <input id="username" type="text" name="username" placeholder="Username">

  <input id="password" type="password" name="password" placeholder="Password">

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Login</button>
</form>

 <p class="account-message">Don't have an account yet?</p> <a href="/auth/signup">Signup</a>
