<div class="menu">
  <div class="click-maps">
    <a href="/results-map"><div><span>MAPAS</span></div></a>
  </div>
  <div class="click-list">
    <a href="/results"><div>LISTADO</div></a>
  </div>
  
  {{#is rol "Admin"}}  
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}} 
  <div>
    <a href="/profile/{{id}}"><div>PERFIL</div></a>
  </div>
  {{/is}}
  {{#unless rol}} 
  <div>
    <a href="/auth/login"><div>LOGIN</div></a>
  </div>
  {{/unless}}
</div>
<form action="/auth/signup" method="POST" class="form-container">
  <div>

  <h3>Crear cuenta</h3>

  <input id="username" type="text" name="username" placeholder="Nombre">

  <input id="username" type="text" name="email" placeholder="Email">

  <input id="password" type="password" name="password" placeholder="Contraseña">

  {{#if message }}
    <section class="error-message">{{ message }}</section>
  {{/if}}

  <button>Crear cuenta</button>

  </div>
</form>

  <p class="update-pos">¿Ya tienes una cuenta? &nbsp;<a href="/auth/login">Iniciar sesión</a></p>
