<form action="/auth/signup" method="POST" class="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="username">

  <label for="email">Email</label>
  <input id="username" type="text" name="email" placeholder="email">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="password">

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Create account</button>

  <p class="account-message">Do you already have an account?</p>
  <a href="/auth/login">Login</a>
</form>
