{{#each usersFound}}
<div class="list element">
  <a href="/profile/{{_id}}" class="">
    <div class="list info">
      <div class="list name">
        <h3>{{username}}</h3>
      </div>
    </div>
  </a>
  <div class="list buttons">
    <a href="/delete-user/{{_id}}">
      <div class="list-delete button">
        <h3>DELETE</h3>
      </div>
    </a>
    <a href="/profile/edit/{{_id}}">
      <div class="list-edit button">
        <h3>EDIT</h3>
      </div>
    </a>
  </div>
</div>
{{/each}}