<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Erica+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
</head>

<body>
  <nav class="nav">
    <div class="head">
      <a href="/scan"><div>RUN `N CATCH</div></a>
    </div>
    <div class="menu">
      <div class="click-maps">
        <a href="/results"><div>MAPAS</div></a>
      </div>
      <div class="click-list">
        <a href="/results"><div>LISTADO</div></a>
      </div>
      <div>
        <a href="/auth/login"><div>LOGIN</div></a>
      </div>
    </div>
  </nav>

  {{{body}}}
  {{!-- <script src="/javascripts/readerqr/instascan.js"></script> --}}
  {{!-- <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script> --}}
  {{!-- scritps scan --}}
  <script src="/public/scanqr/qr-scanner-master/src/worker.js"></script>
  <script src="/public/scanqr/qr-scanner-master/src/qr-scanner.js"></script>
  <script src="/public/scanqr/qr-scanner-master/qr-scanner-worker.min.js"></script>
  <script src="/public/scanqr/qr-scanner-master/qr-scanner-worker.min.js.map"></script>
  <script src="/public/scanqr/qr-scanner-master/qr-scanner.min.js"></script>
  <script src="/public/scanqr/qr-scanner-master/qr-scanner.min.js.map"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_62uCU28_3t0RlV0WVDdrGSg0xG0v4j4"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/qr/jquery.min.js"></script>
  <script src="/qr/qrcode.js"></script>
  <script src="/javascripts/qr.js"></script>
  <script src="/javascripts/scriptQr.js"></script>

</body>

</html>