<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="head">
    <h1>RUN `N CATCH</h1>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
  </nav>

  {{{body}}}
  {{!-- <script src="/javascripts/readerqr/instascan.js"></script> --}}
  {{!-- <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script> --}}
  {{!-- scritps scan --}}
  <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
  <script type="text/javascript" src="/scanqr/alignpat.js"></script>
  <script type="text/javascript" src="/scanqr/bitmat.js.js"></script>
  <script type="text/javascript" src="/scanqr/datablock.js"></script>
  <script type="text/javascript" src="/scanqr/bmparser.js"></script>
  <script type="text/javascript" src="/scanqr/databr.js"></script>
  <script type="text/javascript" src="/scanqr/datamask.js"></script>
  <script type="text/javascript" src="/scanqr/decoder.js"></script>
  <script type="text/javascript" src="/scanqr/detector.js"></script>
  <script type="text/javascript" src="/scanqr/errorlevel.js"></script>
  <script type="text/javascript" src="/scanqr/findpat.js"></script>
  <script type="text/javascript" src="/scanqr/formatinf.js"></script>
  <script type="text/javascript" src="/scanqr/gf256.js"></script>
  <script type="text/javascript" src="/scanqr/gf256poly.js"></script>
  <script type="text/javascript" src="/scanqr/grid.js"></script>
  <script type="text/javascript" src="/scanqr/qrcode.js"></script>
  <script type="text/javascript" src="/scanqr/rsdecoder.js"></script>
  <script type="text/javascript" src="/scanqr/version.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/qr/jquery.min.js"></script>
  <script src="/qr/qrcode.js"></script>
  <script src="/javascripts/qr.js"></script>
  <script src="/javascripts/scriptQr.js"></script>
</body>

</html>