<div class="menu">
  <div class="click-maps">
    <a href="/results-map"><div><span>MAPAS</span></div></a>
  </div>
  <div class="click-list">
    <a href="/results"><div>LISTADO</div></a>
  </div>
  
  {{#is rol "Admin"}}  
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}} 
  <div>
    <a href="/profile/{{id}}"><div>PERFIL</div></a>
  </div>
  {{/is}}
  {{#unless rol}} 
  <div>
    <a href="/auth/login"><div>LOGIN</div></a>
  </div>
  {{/unless}}
</div>
  
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_62uCU28_3t0RlV0WVDdrGSg0xG0v4j4"></script>

<div>
  <form action="/new-event" method="POST" class="new-form" enctype='multipart/form-data'>
    <input name="name" type="text" class="form-control" id="name-input" placeholder="name">
    <select name="type">
      <option value="Offers">Offers</option>
      <option value="Missions">Missions</option>
    </select>
    <input name="description" type="text" class="form-control" id="description-input" placeholder="description">
    <input type="datetime-local" id="meeting-time" name="start" value="2020-02-21T19:30" min="2020-01-01T00:00"
      max="2020-12-31T00:00">
    <select name="tag">
      <option value="culture">culture</option>
      <option value="relax">relax</option>
      <option value="restoration">restoration</option>
      <option value="shopping">shopping</option>
    </select>
    <input name="duration" type="number" class="form-control" id="inversions-input" placeholder="duration min">
    <input name="location" type="text" class="form-control" id="length-input" placeholder="location">
    <input name="punctuationReward" type="number" class="form-control" id="length-input"
      placeholder="punctuationReward">
    <input name="levelRequiered" type="number" class="form-control" id="length-input" placeholder="levelRequiered">
    <input name="discount" type="number" class="form-control" id="length-input" placeholder="discount">
    <input name="image" type="file" class="form-control" id="length-input" placeholder="image url">
    <button type="submit" class="btn btn-dark">Create event</button>
  </form>
</div>


{{!-- name: req.body.name,
description: req.body.description,
duration: req.body.duration,
start: req.body.start,
type: req.body.type,
punctuacionReward: req.body.punctuationReward,
image: req.body.url, // meter el multer
positionlat: req.body.positionlat,
positionlng: req.body.positionlng --}}