<div class="menu">
  <div class="click-maps">
    <a href="/results-map"><div><span>MAPAS</span></div></a>
  </div>
  <div class="click-list">
    <a href="/results"><div>LISTADO</div></a>
  </div>
  
  {{#is rol "Admin"}}  
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}} 
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#unless rol}} 
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/unless}}
</div>
  
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_62uCU28_3t0RlV0WVDdrGSg0xG0v4j4"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_62uCU28_3t0RlV0WVDdrGSg0xG0v4j4&libraries=places"></script>


<div>
  <form action="/new-event" method="POST" class="new-form" enctype='multipart/form-data'>
    <input name="name" type="text" class="form-control" id="name-input" placeholder="Nombre">
    <textarea name="description" type="text" class="form-control" id="description-input" placeholder="Descripción"></textarea>
    <select name="type">
      <option value="">-</option>
      <option value="Offers">Oferta</option>
      <option value="Missions">Misión</option>
    </select>
    <select name="tag">
      <option value="">-</option>
      <option value="culture">Cultura</option>
      <option value="relax">Relax</option>
      <option value="restoration">Restauración</option>
      <option value="shopping">Compras</option>
    </select>
    <input type="datetime-local" id="meeting-time" name="start" value="2020-02-21T19:30" min="2020-01-01T00:00"
      max="2020-12-31T00:00">
    <input name="duration" type="number" class="form-control" id="inversions-input" placeholder="Duración ">
    <input name="location" type="text" class="form-control" id="length-input" placeholder="Localización">
    <input name="punctuationReward" type="number" class="form-control" id="length-input"
      placeholder="punctuationReward">
    <input name="levelRequiered" type="number" class="form-control" id="length-input" placeholder="Nivel requerido">
    <input name="discount" type="number" class="form-control" id="length-input" placeholder="Descuento">
    <input name="image" type="file" class="form-control" id="length-input" placeholder="Seleccionar imagen">
    <button type="submit" class="btn-dark">Crear evento</button>
  </form>
</div>
 <div class="button-back">
  <a href="/all-users">Lista Usuarios</a>
</div>

<div class="update-pos">
  <a href="/auth/logout">Cerrar sesión</a>
</div>

{{!-- name: req.body.name,
description: req.body.description,
duration: req.body.duration,
start: req.body.start,
type: req.body.type,
punctuacionReward: req.body.punctuationReward,
image: req.body.url, // meter el multer
positionlat: req.body.positionlat,
positionlng: req.body.positionlng --}}