<style>
    #qr-video {
        width: 100%;
        height: calc(100%-60px);
    }

    canvas {
        display: none;
    }

    hr {
        margin-top: 32px;
    }

    input[type="file"] {
        display: block;
        margin-bottom: 16px;
    }

    div {
        margin-bottom: 1px;
    }
</style>
<div class="camera-container">
    <video muted playsinline id="qr-video"></video>
    {{!-- <b>Device has camera: </b>
    <span id="cam-has-camera"></span> --}}
</div>

<div class="readerqrtext"><b>Detected QR code: </b>
    <span id="cam-qr-result"></span>
    <br>
    <b>Last detected at: </b>
    <span id="cam-qr-result-timestamp"></span>
    <hr>
</div>

<div class="update-pos"> <a href="/results">Vuelve a los resultados</a></div>

<script type="module">
    import QrScanner from "../scanqr/qr-scanner-master/qr-scanner.min.js";
    QrScanner.WORKER_PATH = '../scanqr/qr-scanner-master/qr-scanner-worker.min.js';

    const video = document.getElementById('qr-video');
    const camHasCamera = document.getElementById('cam-has-camera');
    const camQrResult = document.getElementById('cam-qr-result');
    const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
    const fileSelector = document.getElementById('file-selector');
    const fileQrResult = document.getElementById('file-qr-result');
    const textqr = document.getElementById('cam-qr-result');

    function setResult(label, result) {
        let textqrValue = textqr.textContent;
        label.textContent = result;
        camQrResultTimestamp.textContent = new Date().toString();
        label.style.color = 'teal';
        clearTimeout(label.highlightTimeout);
        label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
        window.location.href = document.getElementById('cam-qr-result').textContent;
    }

    // ####### Web Cam Scanning #######

    QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);

    const scanner = new QrScanner(video, result => setResult(camQrResult, result));
    scanner.start();
    document.getElementById('inversion-mode-select').addEventListener('change', event => {
        scanner.setInversionMode(event.target.value);
    });

    // ####### File Scanning #######

    fileSelector.addEventListener('change', event => {
        const file = fileSelector.files[0];
        if (!file) {
            return;
        }
        QrScanner.scanImage(file)
            .then(result => setResult(fileQrResult, result))
            .then(result => alert("ya tenemos el qr"))
            .catch(e => setResult(fileQrResult, e || 'No QR code found.'));
    });

</script>