<h1>Mapa o Listado</h1>

<div id="map"></div>

<div id="update-pos">
  <a href=""><div>UPDATE POSITION</div></a>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_62uCU28_3t0RlV0WVDdrGSg0xG0v4j4"></script>