<div class="menu">
  <div class="click-maps">
    <a href="/results-map"><div><span>MAPAS</span></div></a>
  </div>
  <div class="click-list">
    <a href="/results"><div>LISTADO</div></a>
  </div>
  
  {{#is rol "Admin"}}  
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}} 
  <div>
    <a href="/profile/{{id}}"><div>PERFIL</div></a>
  </div>
  {{/is}}
  {{#unless rol}} 
  <div>
    <a href="/auth/login"><div>LOGIN</div></a>
  </div>
  {{/unless}}
</div>

<h1>Enhorabuena has disfrutado del evento {{name}}</h1>
{{#is type "Offers"}}
Tu oferta te ha dado {{punctuationReward}}
{{/is}}
{{#is type "Missions"}}
Tu mision te ha dado {{punctuationReward}}
{{/is}}
<a href="/results">vuelve a los resultados</a>
