<h1>¡Muchas gracias por participar en nuestras misiones!</h1>
<h2>Por la actividad de:{{event.name}}</h2>
<h2>Has recibido una puntuación de: {{event.punctuationReward}} puntos</h2>
<input type="image" src="{{event.image}}" alt="Event image">
<a href="/results" class="button">Volver a mapas</a>