/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: black;
  color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

.nav {
  background-color: black;
  width: 100vw; }

.head {
  margin: 15px;
  background-color: #faff00; }
  .head :hover {
    background-color: white; }
  .head a {
    font-size: 40px;
    font-family: "Erica One";
    text-align: center;
    color: black; }

.menu {
  margin: 15px;
  display: flex;
  flex: column;
  justify-content: space-between;
  align-items: center; }
  .menu div {
    width: 28vw;
    height: 40px;
    background-color: #faff00;
    display: flex;
    justify-content: center;
    align-items: center; }
  .menu div:hover {
    background-color: white; }
  .menu a {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center; }

#map {
  height: 100vh;
  width: 100%; }

#map-container {
  display: block; }

#list-container {
  display: block; }

#update-pos {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #update-pos a {
    font-size: 20px;
    font-weight: bold;
    color: #faff00;
    text-align: center;
    text-decoration: none; }

.form-control {
  width: 100%; }

.list-name {
  display: flex;
  align-items: center;
  margin-left: 20px; }

.list-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  justify-content: space-evenly;
  height: 100%;
  text-align: center; }
  .list-buttons .list-delete {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; }

.list a {
  text-decoration: none; }

.list-info {
  display: flex; }

.list-element {
  color: black;
  text-transform: uppercase;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  height: 90px;
  display: flex;
  justify-content: space-between; }

.list img {
  width: 100px;
  height: 90px; }

.form-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 40px; }
  .form-container label {
    color: #faff00;
    margin: 5px; }
  .form-container input {
    margin: 5px;
    background-color: #faff00;
    color: black;
    height: 40px;
    text-align: center;
    width: 90vw; }
  .form-container button {
    margin: 5px;
    border: none;
    color: #faff00;
    background-color: black; }

#btn-init {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh; }
  #btn-init a {
    width: 300px;
    height: 260px; }
  #btn-init img {
    width: 300px;
    height: 260px;
    position: absolute; }
  #btn-init svg {
    width: 150px;
    height: 150px;
    position: relative;
    top: 60px;
    left: 75px; }

body,
input {
  font-size: 14pt;
  padding: 0; }

input,
label {
  vertical-align: middle; }

.qrcode-text {
  padding-right: 1.7em;
  margin-right: 0; }

.qrcode-text-btn {
  display: inline-block;
  background: url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg) 50% 50% no-repeat;
  height: 1em;
  width: 1.7em;
  margin-left: -1.7em;
  cursor: pointer; }

.qrcode-text-btn > input[type="file"] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0; }

#qrcode {
  width: 160px;
  height: 160px;
  margin-top: 15px; }

.new-form {
  display: flex;
  flex-direction: column; }

/*# sourceMappingURL=style.css.map */