/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//CSS PROPIO

*{
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  padding: 50px;
  font-family: "Roboto";
  
}

a {
  color: white;
  text-decoration: none;
}

//CSS PARA BOTON/SVG INDEX

#btn-init {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20vh;

  a{
    width: 300px;
    height: 260px;
    
  }
  img{
    width: 300px;
    height: 260px;
    position: absolute;
  }

  svg{
    width: 150px;
    height: 130px;
    position: relative;
    top:60px;
    left: 75px;
  }
}

//CSS NAV

.nav {
  background-color: black;
  // position: fixed;
  // top: 0;
  // height: 50px;
  width: 100vw;
}

//CSS NAV/HEAD

.head {
  margin: 15px;
  background-color: #faff00;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  :hover {
    background-color: white;
  }

  a {
    font-size: 40px;
    font-weight: lighter;
    font-family: "Erica One";
    text-align: center;
    color: black;
  }
}

//CSS MENU

.menu {
  margin: 15px;
  display: flex;
  flex: column;
  justify-content: space-between;
  align-items: center;

  div {
    width: 28vw;
    height: 40px;
    background-color: #faff00;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:hover {
    background-color: white;
  
  }

  a {
    font-size: 20px;
   
    color: black;
    text-decoration: none;
    text-align: center;
    }
  

}

//CSS RESULTS/MAP

#map {
  height: 100vh;
  width: 100%;
}

//CSS RESULTS/MAP BOTON UPDATE

.update-pos {
  background-color: black;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;

  a {
    font-size: 20px;
    color: #faff00;
    text-align: center;
    text-decoration: none;
  }
}

//CSS Alejandro

.filter {
  height: 40px;
  margin: 15px;
  margin-top: 30px;

  input{
    height: 40px;
  }
}

.form-control{
  width: 100%;
}

.list-name {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.list-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
  
  .list-delete {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.list a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.list-info {
  display: flex;
  margin: 0;
}
.list-element {
  margin: 15px;
  color: black;
  text-transform: uppercase;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  height:120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

//CSS PARA RESULTS
.list {
  img {
    width: 100px;
    height: 120px;
  }
}
.list-edit {
  img {
    width: 20px;
    height: 20px;
  }
}
.list-delete {
  img {
    width: 20px;
    height: 20px;
  }
}

//CSS RESULTS-DETAIL
.detail-event{
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #faff00;
    margin-top:20px;
    text-align: center;
  }
  .detail-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: center;
  margin: 20px;
  }

  .background-white{
    background-color: white;
    width: 200px;
    height: 200px;
    img{
      height: 200px;
      width: 200px;
    }
  }

  .detail-text{
    text-align: center;
    margin: 20px;
    width: 80vw;

    p{ 
      font-size: 20px;
      font-weight: lighter;
      line-height: 1.3;
    }
  }

  .btn-back {
    background-color: #faff00;
    color: black;
    width: 90vw;
    height: 30px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
     color: black;
     font-weight: bold;
     text-align: center;
    }
  }
}

//CSS PARA LOGIN Y SIGN UP

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  height: 60vh;

  input {
    margin: 5px;
    background-color: white;
    color: black;
    height: 60px;
    text-align: center;
    width: 90vw;
    border: 0;
  }
  button {
    margin: 5px;
    font-size: 20px;
    border: none;
    background-color: black;
    color: #faff00;
    width: 90vw;
    height: 60px;
  }
}

// CSS PARA EL QR
body,
input {
  font-size: 14pt;
  padding: 0;
}
input,
label {
  vertical-align: middle;
}
.qrcode-text {
  padding-right: 1.7em;
  margin-right: 0;
}
.qrcode-text-btn {
  display: inline-block;
  background: url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg)
    50% 50% no-repeat;
  height: 1em;
  width: 1.7em;
  margin-left: -1.7em;
  cursor: pointer;
}
.qrcode-text-btn > input[type="file"] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

//CSS PARA OTRO QR

#qrcode {
  width: 160px;
  height: 160px;
  margin-top: 15px;
}

.new-form {
  display: flex;
  flex-direction: column;
}
